<div class="flex flex-col justify-center w-full p-5 px-36">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center justify-between ">
    <h1 class="text-4xl font-bold">Academias</h1>
    <div class="flex">
      <%= link_to "Nova Academia", new_gym_path, class: "rounded-lg py-3 px-5 bg-orange-600 text-white block font-medium" %>
      <%= link_to "Ver detalhes da academia", search_gyms_path, class: "rounded-lg py-3 ml-4 px-5 bg-orange-500 text-white block font-medium" %>
    </div>
  </div>

  <div id="gyms" class="min-w-full">
    <%= render @gyms %>
  </div>
</div>
